
:root {
  --background-color-main-body: #F2F2F2;
  --navigation-main-background-color: #FFFFFF;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --color-main-navigation-hover: #81B3D2;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--background-color-main-body);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(12, auto);
  grid-gap: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.box-index {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.visuality_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/*---------  Header  ----------*/
.main-header {
  height: 56px;
  margin: 0 auto;
  background-color: var(--navigation-main-background-color);
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
}


.flex-main-navigation {
  margin-top: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-main-navigation a{
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.flex-main-navigation a:hover,
.flex-main-navigation  a:focus {
  color: var(--color-main-navigation-hover);
}

.flex-main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*------------  Main  ------------------*/


.background-section-sedona {
  height: 509px;
  m in-width: 1200px;
  background-image: url("../img/background-photo-sedona.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
}

.flex-index-1 {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.flex-index-1::after{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: url("../img/flex-index-1-background.png");
}

/*-------------------------------------*/

.briefly-about-us {
  background-color: var(--basic-white);
  text-align: center;
}

/*---------------------------------------*/

.Our-town-flex {
  display: flex;
}

.Our-town {
  width: 400px;
  height: 256px;
  text-align: center;
  background-color: #81B3D2;
  text-transform: uppercase;
  color: var(--basic-white);
}

.Our-town h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.Our-town p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/*--------------------------------------------*/

.features-list-flex {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.features-list-flex h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-list-flex p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

/*----------------------------------------------*/

.Devils-bridge-flex {
  display: flex;
}

.Devils-bridge {
  width: 400px;
  height: 256px;
  text-align: center;
  background-color: #81B3D2;
  text-transform: uppercase;
  color: var(--basic-white);
}

.Devils-bridge h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.Devils-bridge p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/*-------------------------------------------------*/

.advantages-flex {
  display: flex;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.advantages-flex h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.advantages-flex p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

/*--------------------------------------------------*/


.Feedback-index {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
}

.Feedback-index a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.Feedback-index-box-1 {

}

.social-networks {
  display: flex;
}

/*----------------------------  Catalog-html  ------------------------*/

.hotel-filter-flex {
  color: var(--basic-white);
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.hotel-filter-flex h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter-flex label {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.background-hotel-filter {
  background-image: url("../img/background-catalog-hotel-filter.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*--------------------------------------------------*/

.searching-results {
  list-style: none;
}

.searching-results li {
  border-bottom: 1px solid #E5E5E5;
}

.searching-results-item-1 {
  display: flex;
}

.searching-results-item-1 a {
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: underline;
  opacity: 0.3;
}

.searching-results-item-1 a:hover {
  color: var(--color-main-navigation-hover);
}

.searching-results-item-1 a:active {
  color: var(--color-main-navigation-hover);
  text-decoration: none;
  opacity: inherit;
}

.searching-results-item-1 a:focus {
  color: var(--color-main-navigation-hover);
  text-decoration: none;
  opacity: inherit;
}

.searching-results-item-2 li {
  list-style: none;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
}

.searching-results-item-2-item {

}

.searching-results-item-2-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.searching-results-item-2-item h3:hover {
  color: #81B3D2;
}

.searching-results-item-2-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.searching-results-item-2-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.results-item-2-item {
  display: flex;
}

.results-item-2-list {
  display: flex;
}

.results-item-2-bottom-left {
  width: 110px;
  height: 27px;
  background-color: var(--color-main-navigation-hover);
  text-align: center;
}

.results-item-2-bottom-left:hover {
  background-color: #669EC0;
}

.results-item-2-bottom-left:active {
  background-color: #5496BD;
}

.results-item-2-bottom-left a {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.results-item-2-bottom-left a:active {
  opacity: 0.3;
}

.results-item-2-bottom-right {
  width: 142px;
  height: 27px;
  background: #766357;
  text-align: center;
}

.results-item-2-bottom-right:hover {
  background-color: #604E43;
}

.results-item-2-bottom-right:active {
  background-color: #503E33;
}

.results-item-2-bottom-right a:active {
  opacity: 0.3;
}

.results-item-2-bottom-right a {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}
/*------------------------------------*/

.Feedback {
  width: 600px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.Feedback-button a {
  font-weight: bold;
  font-size: 21px;
  line-height: 86px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.Feedback-button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  margin: 0 auto;
}

/*------------------  footer  ------------------------------*/

.Feedback-index {
  display: flex;
  justify-content: space-around;
}

.page-footer {
  grid-column: 1/-1;
}

.social-networks-item {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  border: 1px solid white;
  list-style: none;
  text-align: center;
  line-height: 4;
}

.social-networks-item:hover {
  background-color: #669EC0;
}

.social-networks-item:active {
  background-color: #5496BD;
}

.social-networks-item a:active {
  opacity: 0.3;
}

.item-fb img {
  margin-top: 15px;
}
